---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import CustomerBar from '../components/CustomerBar.astro';
---

<Layout title="Wild Flamingo">
	<Title/>
	<main>
		<CustomerBar/>
	</main>
</Layout>
