---
import { Icon } from "astro-icon/components";

interface Props {
	iconName: string;
	title: string;
}

const { iconName, title } = Astro.props;
---

<div class="card">
    <Icon name={iconName} size={40} />
    <h3>{title}</h3>
    <div class="content">
        <slot/>
    </div>
</div>

<style lang="scss">
    .card {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 0 1rem;
        padding: 16px;
        background: rgb(var(--color-neutral));
        border-radius: 16px;
    }

    svg {
        color: rgb(var(--accent));
        background: rgba(var(--accent-alt), .1);
        border: 1px solid rgba(var(--accent-alt), .1);
        border-radius: 8px;
        padding: 6px;
    }

    .content {
        grid-column: span 2;
    }
</style>