---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global lang="scss">
	@font-face {
		font-family: 'Broadway';
		src: url('/fonts/BroadwayRegular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	:root {
		--background: 10, 6, 13;
		--accent: 255, 152, 220;
		--accent-dark: 204, 121, 175;
		--accent-alt: 31, 224, 253;
		--neutral: 71, 65, 77;
		--max-content-width: 1280px;
	}
	html {
		font-family: system-ui, sans-serif;
		font-size: 18px;
		background-color: rgb(var(--background));

		@media (max-width: $sm) {
			font-size: 16px;
		}
	}
	html,
	body {
		max-width: 100%;
		overflow-x: hidden;
	}
	body {
		margin: 0;
	}
	main {
		color: white;
		font-size: 20px;
		line-height: 1.6;
		margin-top: -128px;
		background: linear-gradient(to bottom, rgba(var(--background), 0), rgba(var(--background), 1) 128px);
		padding-top: 64px;
		transform: translate3d(0, 0, 0);
	}
	h1 {
		font-family: 'Broadway', sans-serif;
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	h2 {
		font-family: 'Broadway', sans-serif;
		font-size: 4rem;
		font-weight: 400;
		line-height: 1;
		hyphens: auto;
	}
	.max-content-width {
		width: var(--max-content-width);
		max-width: calc(100% - 2rem);
		margin: auto;
	}
	.pre-heading {
		font-family: 'Broadway', sans-serif;
		text-transform: uppercase;
		color: rgb(var(--accent-alt));
		margin-bottom: 0;
		margin-top: 4rem;

		+ h2 {
			margin-top: 0;
		}
	}
</style>
